<div class="ui main container">
  <div class="ui centered grid">
    <div class="six wide computer fifteen wide mobile column">
      <h2 class="ui header">Resend confirmation instructions</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                   html: { method: :post, class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="field">
          <%= f.submit 'Resend confirmation instructions', class: 'ui primary button' %>
        </div>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
