<div class="ui main container">
  <div class="ui centered grid">
    <div class="six wide computer fifteen wide mobile column">
      <h2 class="ui header">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                   html: { class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.submit 'Sign up', class: 'ui primary button' %>
        </div>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
