<div class="ui main container">
  <div class="ui centered grid">
    <div class="six wide computer fifteen wide mobile column">
      <h2 class="ui header">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                   html: { method: :put, class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, 'New password' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Confirm new password' %>
          <%= f.password_field :password_confirmation, autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.submit 'Change my password', class: 'ui primary button' %>
        </div>
      <% end %>

      <%= render 'devise/shared/links' %>

    </div>
  </div>
</div>
