<div id="go-away-modal" class="ui fullscreen modal">
  <div class="header"><i class="warning circle icon"></i> Nội dung bị chặn</div>
  <div class="content">
    <div class="ui error message">
      <div class="header">
        Trang web bị chặn bởi các công cụ AdBlock, AdBlocker hoặc các công cụ tương tự:
      </div>
      <ul class="list">
        <li>Xin vui lòng gỡ bỏ các công cụ AdBlock và truy cập lại để tiếp tục.</li>
        <li>Hướng dẫn gỡ bỏ tiện ích cài thêm cho trình duyệt Chrome: <a href="https://support.google.com/chrome_webstore/answer/2664769?hl=vi">Cài đặt và quản lý tiện ích</a>.</li>
      </ul>
    </div>
  </div>
</div>
