<meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] %>" />
<meta property="og:url" content="<%= app_current_url %>" />
<meta property="og:type" content="<%= og_type %>" />
<meta property="og:title" content="<%= app_title %>" />
<meta property="og:description" content="<%= app_description %>" />
<meta property="og:image" content="<%= image_url 'mic_small.png' %>" />
