<div class="ui one column centered grid container">
  <div class="column">
    <%= react_component('TopMenu', { currentUser: nil }, { prerender: true }) %>
  </div>

  <div class="tablet computer only column">
    <%= render 'shared/letters', letters: @letters %>
  </div>

  <div class="six wide computer sixteen wide mobile column">
    <%= react_component('SearchMenu', { currentUser: nil }, { prerender: true }) %>
  </div>
</div>
