$gray-darker:  lighten(#000, 13.5%) !default; // #222
$gray-dark:    lighten(#000, 20%) !default;   // #333
$gray:         lighten(#000, 33.5%) !default; // #555
$gray-light:   lighten(#000, 46.7%) !default; // #777
$gray-lighter: lighten(#000, 93.5%) !default; // #eee

$text-muted: $gray-light !default;

$color-white: #fff;
$color-grey: #ccc;
$color-black: #1b1c1d;
$color-yellow: #f2c61f;
$color-teal: #00b5ad;
$color-red: #d95c5c;
$color-purple: #564f8a;
$color-violet: #6435c9;
$color-pink: #d9499a;
$color-orange: #e07b53;
$color-green: #5bbd72;
$color-blue: #3b83c0;
