.ui.header.violet {
  .k-word {
    @include stroke(1, $color-violet);

    &.active {
      @include stroke(1, #fff);
      color: $color-violet;
    }
  }
}

.ui.header.pink {
  .k-word {
    @include stroke(1, $color-pink);

    &.active {
      @include stroke(1, #fff);
      color: $color-pink;
    }
  }
}

.ui.header.teal {
  .k-word {
    @include stroke(1, $color-teal);

    &.active {
      @include stroke(1, #fff);
      color: $color-teal;
    }
  }
}

.k-lyrics {
  white-space: nowrap;
}

.k-word {
  color: #fff;
  transition: color 250ms, text-shadow 250ms;
}

.k-word.active {
  @include stroke(1, #fff);
}

.k-lyrics-list-desc {
  font-size: .8em;
}

.dk-word.active {
  color: $color-blue;
}
