.ui.comment.segment {
  overflow: hidden;
}

.songs.index,
.songs.show {
  background: #a7ebd4 image-url('bg-01.jpg') no-repeat center center fixed;
  background-size: cover;
}

.songs_list.show {
  background: #a7ebd4 image-url('bg-02.jpg') no-repeat center center fixed;
  background-size: cover;
}

.songs-list-letter {
  @include stroke(1, #fff);

  line-height: 2em;
  padding: 10px;
}

.songs.show {
  .main.segment {
    background: #ede9dd image-url('bg-07.jpg') no-repeat center center;
    background-size: cover;
  }

  .song-title {
    // white-space: nowrap;

    .sub.header {
      font-size: 1.5rem;
      padding-top: .2em;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.5rem;

      .sub.header {
        font-size: 1.2rem;
      }
    }
  }

  .social.box {
    margin-top: 2.5em;
  }

  .statistics.box {
    margin-bottom: 0;
  }

  .statistic-info.segment {
    background: #e8eadf image-url('bg-08.jpg') no-repeat center center;
    background-size: cover;
  }

  .full-lyrics.segment {
    background: #eff1e4 image-url('bg-02.jpg') no-repeat center center;
    background-size: cover;
  }

  .recommended-songs.segment {
    background: #eff1e4 image-url('bg-09.jpg') no-repeat center center;
    background-size: cover;
  }

  .comment.segment {
    background: #eaf3f8 image-url('bg-06.jpg') no-repeat center center;
    background-size: cover;
  }
}

.k-actions {
  padding-bottom: 15px;
}
