<!DOCTYPE html>
<html>
  <head>
    <title><%= app_title %></title>
    <meta name="description" content="<%= app_description %>"/>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= render 'shared/open_graph' %>

    <%= render 'shared/favicon' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body class="<%= "#{params[:controller]} #{params[:action]}" %>">
    <div id="fb-root"></div>

    <%= render 'shared/top_menu' %>

    <%= yield %>

    <div class="ui grid container">
      <div class="mobile only column">
        <%= render 'shared/letters', letters: @letters %>
      </div>
    </div>

    <div class="center text page-description page-keywords">
      <%= app_keywords.html_safe %>
    </div>

    <%= render 'shared/facebook_connect' %>
    <%= render 'shared/analytics' if Rails.env.production? %>
    <%= render 'shared/go_away_modal' %>
  </body>
</html>
